body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

h1 {
    color: #000000;
}

#game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #dfbfff;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #8004f3;
}

#restart {
    margin-top: 100px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#status {
    margin-top: 20px;
    font-size: 1.5em;
    color: #fd00fd;
}